.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 22%;
  margin-left: 2%;
  margin-top: 2%;
}
.container {
  padding: 2px 16px;
}
h1,h4,p{
  text-align: center;
}
.test{
  display: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.test img{
  width: 25%;
}
#tru{
  display: none;
}
